body {
  color: #088e40;
  font-family: Helvetica, Arial, sans-serif;
  background-color: lightgreen;
}

h1 small a {
  font-size: .5em;
}

footer {
  background-color: darkgreen;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

form {
  text-align: center;
  background-color: skyblue;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}

.hide-me {
  visibility: hidden;
}

.jumbotron {
  margin-top: 25px;
  text-align: center;
}

.my-panel {
  box-shadow: 3px 2px grey;
}

.btn-success, .btn-danger {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}

#new-box p {
  color: darkblue;
  display: inline-block;
}

#has-visited-btn {
  padding-right: 10px;
}

#placesCamped {
  color: #088e40;
  background-color: #ceefd3;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}

#placesNotYetCamped {
  color: #088e40;
  background-color: lightpink;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}
